.text-with-icons .text-with-icons__content-wrapper .description-icon {
  color: var(--color-body);
  margin-top: 5px;
  padding:0 25px;
}
.text-with-icons .text-with-icons__content-wrapper .title-icon {
  color: var(--title-color);
  margin-bottom: 1rem;
}
.dots-nav__item {
  background-color: var(--color-body);
}   

.content_textwithicon .heading span{
  background-image: var(--gradient-base-accent-2);
  background-size: 100% 8px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: 0 75%;
}
.image-card-spacing{
  margin-left: 1rem;
  margin-right: 1rem;
}